<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/css/nv.d3.css">


<title>Vis Demo</title>

<style>


.link {
  stroke: #999;
}
.nv-point.selected {
  stroke: red;

  fill: black;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

</style>

</head>

<body>

<div class="container-fluid" style="margin-top:10px;">
<div class="row">
  <div class="form-horizontal col-sm-8">
    <div class="form-group">
    <label class="col-sm-2 control-label">Algorithms</label>
    <div class="col-sm-6">
     <select id="algorithm" class="form-control">
      <option value="nmds">NMDS</option>
      <option value="pca">PCA</option>
      <option value="mds">MDS</option>
      </select>
    </div>
  </div>

  </div>
  <button id="magic_button" class="btn btn-default" onclick="n_button()">Generate a chart</button>

</div>







      <div class="row">

        <div id="scatterChart1" class="with-3d-shadow with-transitions col-md-8"  style="height:480px">
          <svg></svg>
        </div>


          <div class="col-md-4 kmeans">
              <table id="k-points" class="table">
              <tbody></tbody>
              </table>
<a href="#scatterChart2">
            <button  class="btn btn-default k-button" onclick="kmeans('#scatterChart2')">K-Means</button></a>
            <button id="b1" class="btn btn-default b-button">Enable Brush</button>
          </div>

<div class="col-md-4 content">

URL: <a href="{{url}}" target="_blank">{{url}}</a> <br/></br>
Content: {{content}}

</div>

</div>

<div class="row">
            <svg id="barChart1" class="col-md-8 with-3d-shadow with-transitions "  style="height:200px"></svg>

            <svg id="histogram1" class="with-3d-shadow with-transitions col-md-8 "  style="height:200px"></svg>


      </div>



      <div class="row">

        <div id="scatterChart2" class="with-3d-shadow with-transitions col-md-8"  style="height:880px">
          <svg></svg>
        </div>


          <div class="col-md-4 kmeans">
              <table id="k-points-2" class="table">
              <tbody></tbody>
              </table>

<a href="#scatterChart3">            <button  class="btn btn-default k-button" onclick="kmeans('#scatterChart3')">K-Means</button></a>
            <button id="b2" class="btn btn-default b-button">Enable Brush</button>
          </div>


            <svg id="barChart2" class="with-3d-shadow with-transitions col-md-2 "  style="height:820px"></svg>
            <svg id="histogram2" class="with-3d-shadow with-transitions col-md-2 "  style="height:820px"></svg>

      </div>



      <div class="row">

        <div id="scatterChart3" class="with-3d-shadow with-transitions col-md-8"  style="height:880px">
          <svg></svg>
        </div>

            <button id="b3" class="btn btn-default b-button">Enable Brush</button>
          


            <svg id="barChart3" class="with-3d-shadow with-transitions col-md-2 "  style="height:820px"></svg>
            <svg id="histogram3" class="with-3d-shadow with-transitions col-md-2 "  style="height:820px"></svg>

      </div>











</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/nv.d3.js"></script>


<script>
var width = 800+3;
var height = 1145+3;
var barChart1 = 1;

window.onload= load();

function n_button(){

      var algorithm = $("#algorithm").val();

      $.ajax({
            type: "GET",
            url: "query/?algorithm="+algorithm,
            dataType: "json",        
            success: function(data) {              
              drawGraph(data, "#scatterChart1");

            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });


    }


function load(){

$("#magic_button").click();

}

 function mouseClick()
 {

  var coordinates = d3.mouse(this);
  var x = coordinates[0]
//  var x = chart.lines.xScale().invert(coordinates[0]-chart.margin().left);
//  var y = chart.lines.yScale().invert(coordinates[1]-chart.margin().top);
  console.dir(coordinates);
 }


function kmeans(location){
      var location = location;
      var urlString = "";
      var algorithm = $("#algorithm").val();

      $("#k-points tr").each(function() {
        urlString += "&id=" +$(this).find("td").html();    
       });

      prefix = "kmeans/1/?";
      if(location =="#scatterChart3"){
            prefix ="kmeans/2/?";
            $('#k-points-2 tr').each(function() {
                  urlString += "&second_id=" +$(this).find("td").html();    
                     });

      };

           $.ajax({
            type: "GET",
            url: prefix + urlString+"&algorithm="+algorithm,
            dataType: "json",        
            success: function(data) {              
              drawGraph(data, location);
            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          })

}

function enable_brush(loc){


var brush = d3.svg.brush()
    .x(d3.scale.identity().domain([0, height]))
    .y(d3.scale.identity().domain([0, width]))
    .extent([[100, 100], [200, 200]])
    .on("brush", brushed)
    .on("brushend", brushended);



function brushed(){
          chart = nv.graphs[0];
          var extent = brush.extent();
          points = d3.select(loc).selectAll(".nv-point"); 
          x = chart.xAxis.scale().domain() //to height
          y = chart.yAxis.scale().domain()//to width
          points.classed("selected", function() {
          d = d3.transform($(this).attr("transform")).translate;
          return extent[0][0] <= d[0] && d[0] <= extent[1][0]&& extent[0][1] <= d[1] && d[1] <= extent[1][1];
          });
brushended()

        }


function brushended(){
      ids = []
      $(loc+ " .nv-point.selected").each(function(point){
           ids.push($(this).attr("class").split("-")[3].split(" ")[0]);
        });
      ids =ids.join("&id=");
//      console.log(ids)
if(ids.length>0){
      $.ajax({
            type: "GET",
            url: "aggregation/?id="+ids,
            dataType: "json",        
            success: function(data) {              
//               console.log(data);
                 barChart(data,loc);

            },
            error : function(httpReq,status,exception){
//                alert(status+" "+exception);
            }
          });

}}


brushed();
brushended();

   

d3.select(loc+" svg").append("g")
//         .on("click",mouseClick)
      .attr("class", "brush")
      .attr("transform", "translate(75,30)")
      .call(brush)
//      .call(brush.event);  

}


function disable_brush(loc){
}




$(".b-button").click(function(){
id = $(this).attr('id').charAt(1);
loc = "#scatterChart" + id;
action = $(this).text().charAt(0);
if(action == 'E'){
enable_brush(loc);
$(this).html("Disable Brush")
}
else{

d3.selectAll(loc + " .brush").remove();//clear the svg
$(this).html("Enable Brush")


}
}
)



function drawGraph(source, location) {


  var chart;

 

  nv.addGraph(function() {
    chart = nv.models.scatterChart()
//                  .showXAxis(false)
//                  .showYAxis(false)
                  .showDistX(false)
                  .showDistY(false)
                  .useVoronoi(false)
                  .color(d3.scale.category10().range())
                  .transitionDuration(300)
  
                  ;

    chart.xAxis.tickFormat(d3.format('.02f'));
    chart.yAxis.tickFormat(d3.format('.02f'));
    chart.tooltipContent(function(key,x,y,e,chart) {
        var id = e["point"]["id"];
        return "id: <b>" + id + "</b> Count: <b>" + 1 + "</b>" ;
    });

    chart.scatter.onlyCircles(false);
    var pg =  location + " svg";
    d3.selectAll(pg + "> *").remove();//clear the svg
    d3.select(pg)
        .datum(getData(source))
        .call(chart)
    
//    console.log()

    nv.utils.windowResize(chart.update);
    chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });

    return chart;
  },function(){
         $(".nv-point").on('click',
               function(){
                id = $(".xy-tooltip b").html().toString();
                var selector = location +"+ .kmeans table tbody:last";
                $(selector).append('<tr><td>'+id+'</td></tr>');
           });

      });  
}





function getData(source, group, mincount) { //# groups,# points per group
      var algorithm = $("#algorithm").val();
      var data = [];
      var group_data = source["data"]["groups"];
      var margin = source["data"]["margin"];


      for(j=0; j< group_data.length; j++){
                  data.push({key: "cluster "+j,values: []});
                  for (i = 0; i < group_data[j].length; i++) {
                                  var myid  = group_data[j][i]["_id"];
                                  var coordinate = group_data[j][i][algorithm];
                                  //var size = parseInt(objList[i]["count"]);
                                  data[j].values.push({
                                  "x": parseFloat(coordinate[0]),
                                  "y": parseFloat(coordinate[1]),
                                  "width":1,
                                  "height:":2,
                                  //size: parseInt(objList[i]["count"]),
                                  "shape": "circle",
                                  "id": myid,
                                  });         
                                  }
                }

      data.push({key: "margin ", values: []});
        for (i = 0; i < margin.length; i++) {
                                  var coordinate = margin[i];
                                  //var size = parseInt(objList[i]["count"]);
                                  data[group_data.length].values.push({
                                  "x": parseFloat(coordinate[0]),
                                  "y": parseFloat(coordinate[1]),
                                  //size: parseInt(objList[i]["count"]),
                                  "shape": "circle",
                                  });         
                                  }


 
  return data;
}
function percentage(value,max,min){
range = max - min

return (Math.abs(value-min) / range)

}

function reformData(data) {
  result =   [
                        {
                        key: "bar chart",
                        values: []
           },
                        {  key: "margin",
                        values: [{ "label":"Fix", "value": 1.0,"original_value": 1.0,}]
                        }      

      ]

  for (i = 0; i < data["dimensions"].length; i++) {
                  result[0].values.push({
                                  "label":data["dimensions"][i][0],
                                  "value": percentage(data["dimensions"][i][1],data["max"][i],data["min"][i]),
                                  "original_value": parseFloat(data["dimensions"][i][1]),
                                  });         
                                  }
console.log(result)
return result;
}

function barChart(data,loc){

if(barChart1!=1){
      loc = '#barChart'+ loc.charAt(13);
      d3.select(loc)
      .datum(reformData(data))
      .call(barChart1);

  console.log("update")


}
else{
nv.addGraph(function() {
barChart1 =  chart = nv.models.multiBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
      .tooltips(true)        //Don't show tooltips
      .showLegend(true)
      .showControls(false)
//      .showValues(false)       //...instead, show the bar value right on top of each bar
      .transitionDuration(150)
//      .margin({top: 5, right: 55, bottom: 15, left: 5})
      ;
       chart.tooltipContent(function(key,x,y,e,chart) {

                  return "Dimension:"+ e["point"]["label"]+ " Value:"+e["point"]["original_value"] ;

    });



      loc = '#barChart'+ loc.charAt(13);
      d3.select(loc)
      .datum(reformData(data))
      .call(chart);

      nv.utils.windowResize(chart.update);

  return chart;},function(){

          d3.selectAll(".nv-bar").on('click',function(){
            dimension =  $(".xy-tooltip b").html().toString();
            loc ="#"+ $(this).closest("svg").attr("id");
            $.ajax({
            type: "GET",
            url: "histogram/"+dimension+"/",
            dataType: "json",        
            success: function(data) {              

              histogram(data, loc);

            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });


      });

}
)

}
}

function histogramData(data) {

  result =   [
{
      key: "histo",
      values: []
           },
//                        {
//      key: "bargin",
//      values: [{"value":data["max_height"]}]}

      ]

  for (i = 0; i < data["counts"].length; i++) {
                  result[0].values.push({

                                  "x": parseFloat(data["bins"][i]),
                                  "y": parseFloat(data["counts"][i]),
                                  "label":parseFloat(data["bins"][i]),
                                  });         
                                  }
return result
}



function histogram(data,loc){

var his_chart;
loc = '#histogram'+loc.charAt(9);;


nv.addGraph(function() {
      his_chart = nv.models.multiBarChart()
      .x(function(d) { return d.x })    //Specify the data accessors.
      .y(function(d) { return d.y })
      .reduceXTicks(true)
      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels
//      .tooltips(true)        //Don't show tooltips
      .showLegend(false)
      .showControls(false)
      .transitionDuration(350)

      ;
    his_chart.xAxis
        .tickFormat(d3.format(',f'));

       d3.select(loc)
      .datum(histogramData(data))
      .call(his_chart);

       nv.utils.windowResize(his_chart.update);

      return his_chart;},function(){
                });

}

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56064104-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
