<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/css/nv.d3.css">


<title>Vis Binary Data</title>

<style>


.link {
  stroke: #999;
}
.nv-point.selected {
  stroke: red;

  fill: black;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

</style>

</head>

<body>
<div class="container-fluid" style="
    margin-top:10px;"
>

<div class="form-horizontal col-sm-8">
  <div class="form-group">
    <label class="col-sm-2 control-label">Algorithms</label>
    <div class="col-sm-6">
     <select id="algorithm" class="form-control">
      <option value="nmds">NMDS</option>
      <option value="pca">PCA</option>
      <option value="mds">MDS</option>
      </select>
    </div>
  </div>
</div>

  <button id="magic_button" class="btn btn-default">Generate a chart</button></div>
</div>




    <div class="container-fluid">

      <div class="row">

        <div id="test1_left" class="with-3d-shadow with-transitions col-md-8"  style="height:960px">
          <svg></svg>
        </div>


      <div class="kmeans col-md-3">

          <table id="k-points" class="table">
           <tbody></tbody>
  
             </table>

    <div class="col-md-3 form-group">
       <button id="k_button" class="btn btn-default k-button">K-Means</button>
      </div>

   <div class="form-group col-md-2">
       <button id="b_button" class="btn btn-default b-button" onclick="enable_brush('#test1_left')">Enable Brush</button>

    </div>


   </div>


        <div id="barChart1" class="with-3d-shadow with-transitions col-md-4"  style="height:880px">
          <svg></svg>
        </div>

       </div>



      </div>




  <div class="container-fluid">
        <div class="row">

        <div id="test1_left2" class="with-3d-shadow with-transitions col-md-8"  style="height:1000px">
          <svg></svg>
        </div>


      <div class="kmeans col-md-3">

  <table id="k-points-2" class="table">
  <tbody></tbody>
  
  </table>
 <div class="col-md-1 form-group">
  <button id="k_button_2" class="btn btn-default k-button">K-Means</button></div>
</div>
       </div>

</div>
  <div class="container-fluid">
        <div class="row">

        <div id="test1_left3" class="with-3d-shadow with-transitions col-md-8"  style="height:1000px">
          <svg></svg>
        </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/nv.d3.js"></script>


<script>
var width = 880+3;
var height = 1145+3;

$("#magic_button").click(function(){
      var algorithm = $("#algorithm").val();

      $.ajax({
            type: "GET",
            url: "query/?algorithm="+algorithm,
            dataType: "json",        
            success: function(data) {              
              drawGraph(data, "left");

            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });


    });

$(".k-button").click(function(){
      var location = "left2";
      var urlString = "";
      var algorithm = $("#algorithm").val();
      $("#k-points tr").each(function() {
        urlString += "&id=" +$(this).find("td").html();    
       });
       prefix = "kmeans/1/?";
       if(this.id=="k_button_2"){
         prefix ="kmeans/2/?";
         location ="left3"
        $('#k-points-2 tr').each(function() {
        urlString += "&second_id=" +$(this).find("td").html();    
       });

        };


           $.ajax({
            type: "GET",
            url: prefix + urlString+"&algorithm="+algorithm,
            dataType: "json",        
            success: function(data) {              
              drawGraph(data, location);
            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });})




function scale_convert(coordinate)
 {
  var x = d3.scale.linear(coordinate[0][0]);
  var y = d3.scale.linear().domain([0,height]).range([-0.49,0.62]);
  return coordinate;

 }


 function mouseClick()
 {

  var coordinates = d3.mouse(this);
  var x = coordinates[0]
//  var x = chart.lines.xScale().invert(coordinates[0]-chart.margin().left);
//  var y = chart.lines.yScale().invert(coordinates[1]-chart.margin().top);
  console.dir(coordinates);
 }




function enable_brush(location){

var brush = d3.svg.brush()
    .x(d3.scale.identity().domain([0, height]))
    .y(d3.scale.identity().domain([0, width]))
    .extent([[100, 100], [200, 200]])
    .on("brush", brushed)
    .on("brushend", brushended);
brushed();
brushended();
function brushed(){
          chart = nv.graphs[0];
          var extent = brush.extent();
          points = d3.select(location).selectAll(".nv-point"); 

          x = chart.xAxis.scale().domain() //to height
          y = chart.yAxis.scale().domain()//to width
          points.classed("selected", function() {
                d = d3.transform($(this).attr("transform")).translate;

                return extent[0][0] <= d[0] && d[0] <= extent[1][0]&& extent[0][1] <= d[1] && d[1] <= extent[1][1];
                


          });
        }



function brushended(){
      ids = []
      $(location+ " .nv-point.selected").each(function(point){

           ids.push($(this).attr("class").split("-")[3].split(" ")[0]);

        });
      ids =ids.join("&id=");
//      console.log(ids)
      $.ajax({
            type: "GET",
            url: "aggregation/?id="+ids,
            dataType: "json",        
            success: function(data) {              
//               console.log(data);
                 barChart(data,"");

            },
            error : function(httpReq,status,exception){
//                alert(status+" "+exception);
            }
          });

}

   

d3.select(location+" svg").append("g")
//         .on("click",mouseClick)
      .attr("class", "brush")
      .attr("transform", "translate(75,30)")
      .call(brush)
//      .call(brush.event);  

$("#b_button").html("Disable Brush")
$("#b_button").attr("onclick", "disbale_brush('#test1_left')")
}


function disbale_brush(location){

d3.selectAll(location + " .brush").remove();//clear the svg
$("#b_button").attr("onclick", "enable_brush('#test1_left')")
$("#b_button").html("Enable Brush")
}



function drawGraph(source, location) {


  var chart;

 

  nv.addGraph(function() {
    chart = nv.models.scatterChart()
//                  .showXAxis(false)
//                  .showYAxis(false)
                  .showDistX(false)
                  .showDistY(false)
                  .useVoronoi(false)
                  .color(d3.scale.category10().range())
                  .transitionDuration(300)
  
                  ;

    chart.xAxis.tickFormat(d3.format('.02f'));
    chart.yAxis.tickFormat(d3.format('.02f'));
    chart.tooltipContent(function(key,x,y,e,chart) {
        var id = e["point"]["id"];
        return "id: <b>" + id + "</b> Count: <b>" + 1 + "</b>" ;
    });

    chart.scatter.onlyCircles(false);
    var pg = "#test1_" + location + " svg";
    d3.selectAll(pg + "> *").remove();//clear the svg
    d3.select(pg)
        .datum(getData(source))
        .call(chart)
    
//    console.log()

    nv.utils.windowResize(chart.update);
    chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });

    return chart;
  },function(){
         $(".nv-point").on('click',
               function(){
                id = $(".xy-tooltip b").html().toString();
                var selector = "#test1_"+location+"+ .kmeans table tbody:last";
                $(selector).append('<tr><td>'+id+'</td></tr>');
           });

      });  
}





function getData(source, group, mincount) { //# groups,# points per group
      var algorithm = $("#algorithm").val();
      var data = [];
      var group_data = source["data"]["groups"];
      var margin = source["data"]["margin"];


      for(j=0; j< group_data.length; j++){
                  data.push({key: "cluster "+j,values: []});
                  for (i = 0; i < group_data[j].length; i++) {
                                  var myid  = group_data[j][i]["_id"];
                                  var coordinate = group_data[j][i][algorithm];
                                  //var size = parseInt(objList[i]["count"]);
                                  data[j].values.push({
                                  "x": parseFloat(coordinate[0]),
                                  "y": parseFloat(coordinate[1]),
                                  "width":1,
                                  "height:":2,
                                  //size: parseInt(objList[i]["count"]),
                                  "shape": "circle",
                                  "id": myid,
                                  });         
                                  }
                }

      data.push({key: "margin ", values: []});
        for (i = 0; i < margin.length; i++) {
                                  var coordinate = margin[i];
                                  //var size = parseInt(objList[i]["count"]);
                                  data[group_data.length].values.push({
                                  "x": parseFloat(coordinate[0]),
                                  "y": parseFloat(coordinate[1]),
                                  //size: parseInt(objList[i]["count"]),
                                  "shape": "circle",
                                  });         
                                  }


 
  return data;
}

function reformData(data) {
  result =   [{
      key: "bar chart",
      values: []}]

  for (i = 0; i < data.length; i++) {
                  result[0].values.push({
                                  "value": parseFloat(data[i]),
                                  "label": "dimension "+ i,
                                  });         
                                  }
return result
}

function barChart(data,location){

var chart = nv.models.multiBarHorizontalChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
//      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        //Don't show tooltips
      .showValues(false)       //...instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      ;

  d3.select('#barChart1 svg')
      .datum(reformData(data))
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;

}


</script>


</body>
</html>
