<!DOCTYPE html>

<title>Upload new File</title>

<h1>Upload new File</h1>


{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class=flashes>

{% for message in messages %}

<li>{{ message }}</li>

{% endfor %}

</ul>

{% endif %}

{% endwith %}
<form action="" method=post enctype=multipart/form-data>

<input type="file" name="file"/></br>
Name:<input type="text" name="name"/></br>
URL:    <textarea row="1" column="25" name="url"> </textarea></br>
Content:<textarea row="5" column="25" name="content"> </textarea></br>
<input type="submit" value="Upload"/>

</form>
